* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(6, 39, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 40px;
    align-items: center;
    color: white;
}
.logo {
    height: 36px;
}
.header-right {
    display: flex;
    flex-direction: row;
}
.programming {
    margin-right: 20px;
}
.welcome {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.programming-contents {
    width: 100%;
    /* margin: 0 auto; */

}
.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contents img {
    height: 150px;
}
.description {
    width: 50%;
}
h2 {
    text-align: center;
}